:19876 {
  reverse_proxy 127.0.0.1:9876 {
    header_up Host "127.0.0.1:9876"
    header_up Origin "http://127.0.0.1:9876"

    header_up -User-Agent
    header_up -Accept
    header_up -Accept-Encoding
    header_up -Connection
    header_up -Referer
    header_up -Sec-Fetch-Site
    header_up -Sec-Fetch-Mode
    header_up -Sec-Fetch-Dest
  }
}
