{{ define "main" }}
<article class="content single-content">
  {{- if not (eq .Title "") -}}
    <h1 class="article-title">{{ .Title }}</h1>
  {{- end -}}

  {{- partial "breadcrumbs.html" . -}}

  {{- with .Params.tags -}}
    <div class="tags">
      {{- range . -}}
        <a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">#{{ . }}</a>
      {{- end -}}
    </div>
  {{- end -}}

  {{- .Content -}}

  {{- if gt .WordCount 200 -}}
    {{- partial "toc.html" . -}}
  {{- end -}}
</article>
{{ end }}
